h1{
    font-size: 50px; 
    color: rgb(235, 211, 216);
    text-transform:uppercase;
}
body{
    background-image: url(imag/Coffee\ and\ Dessert.jpeg); fixed;
   background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo{
    width: 100px;
    justify-content: space-between;
}


.cuerpo{
    display:flex;
    flex-direction: column;
}
.medio{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.carta{
    border-radius: 10; 
}


#eslogan{
    margin: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body footer div address {
    font-weight: 700;
} 